# Assignment 3

this assignment you will practice using Pandas and how to manipulate data to turn it into useful information.

### 1. Import libraries and data frames

- here you need to import `pandas` and `numpy` libraries to use them.
- then, import needed datasets, `Team1.csv`, `Team2.csv` and `Team_Attributes.csv` and assign them with understandable names.

In [1]:
import pandas as pd
import numpy as np

In [2]:
Team1=pd.read_csv(r"C:\Users\Marina\Downloads\Assignment\Teams1.csv")
Team1.head()

   team_api_id     team_long_name
0         9987           KRC Genk
1         9993       Beerschot AC
2        10000   SV Zulte-Waregem
3         9994   Sporting Lokeren
4         9984  KSV Cercle Brugge

In [3]:
Team2=pd.read_csv(r"C:\Users\Marina\Downloads\Assignment\Teams2.csv")
Team2.head()

   team_api_id team_long_name
0        10219   RKC Waalwijk
1         9839      VVV-Venlo
2        10218      Excelsior
3         6413     PEC Zwolle
4         7788     SC Cambuur

In [4]:
Team_Attributes=pd.read_csv(r"C:\Users\Marina\Downloads\Assignment\Team_Attributes.csv")
Team_Attributes.head()

,team_api_id,buildUpPlaySpeed,buildUpPlaySpeedClass,defencePressure,defencePressureClass
0,9930,60.0,Balanced,50,Medium
1,9930,52.0,Balanced,47,Medium
2,9930,47.0,Balanced,47,Medium
3,8485,70.0,Fast,60,Medium
4,8485,47.0,Balanced,47,Medium

### 2. Concatenate teams into one DataFrame
- concate two dataframes `team1` and `team2` vertically.
- merge `teams` and `teams attributes` and clean dataframe.

In [5]:
Team1['team']='Team1'
Team2['team']='Team2'
Team2.head()

   team_api_id team_long_name   team
0        10219   RKC Waalwijk  Team2
1         9839      VVV-Venlo  Team2
2        10218      Excelsior  Team2
3         6413     PEC Zwolle  Team2
4         7788     SC Cambuur  Team2

In [6]:
Teams=pd.concat([Team1,Team2],axis=0)
Teams.head()

   team_api_id     team_long_name   team
0         9987           KRC Genk  Team1
1         9993       Beerschot AC  Team1
2        10000   SV Zulte-Waregem  Team1
3         9994   Sporting Lokeren  Team1
4         9984  KSV Cercle Brugge  Team1

In [7]:
All_Teams=pd.merge(Teams,Team_Attributes)
All_Teams.head()

,team_api_id,team_long_name,team,buildUpPlaySpeed,buildUpPlaySpeedClass,defencePressure,defencePressureClass
0,9987,KRC Genk,Team1,45.0,Balanced,70,High
1,9987,KRC Genk,Team1,66.0,Balanced,48,Medium
2,9987,KRC Genk,Team1,53.0,Balanced,47,Medium
3,9987,KRC Genk,Team1,58.0,Balanced,47,Medium
4,9987,KRC Genk,Team1,58.0,Balanced,47,Medium

In [8]:
### 3. Exploratory DataAnalysis & Define Problems ;)
#- hint: start with `info()` and `isnull()` to find the problems need to be solved.
#- you have 6 problems in this data, you need to find them out and solve them to make a clean dataset.
#- in column `defencePressureClass` there are null values, the one who makes the most effiecent way to solve this problem will be rewarded in the next session;)
#- don't use `dropna()` to solve null values problems.

In [9]:
All_Teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1476 entries, 0 to 1475
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   team_api_id            1476 non-null   int64
 1   team_long_name         1476 non-null   object
 2   team                   1476 non-null   object
 3   buildUpPlaySpeed       1465 non-null   float64
 4   buildUpPlaySpeedClass  1476 non-null   object
 5   defencePressure        1476 non-null   object
 6   defencePressureClass   1473 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 92.2+ KB

In [10]:
All_Teams['defencePressure'].unique()

array(['70', '48', '47', '36', '33', '45', '46', '44', '65', '60', '59',
       '53', '61', '50', '55', '49', '52', '42', '57', '43', '51', '34',
       '39', '32', '38', '30', '25', '27', '40', '54', '41', '56', '64',
       '35', '62', '63', '58', '29', '24', '31', '37', '26', '.', '72',
       '66', '68', '-', '28', '23', '67'], dtype=object)

In [11]:
All_Teams['defencePressure']=All_Teams['defencePressure'].replace('-',np.nan)
All_Teams['defencePressure']=All_Teams['defencePressure'].replace('.',np.nan)
All_Teams['defencePressure']=All_Teams['defencePressure'].astype(float)

In [12]:
All_Teams.duplicated()

0       False
1       False
2       False
3       False
4        True
        ...
1471     True
1472    False
1473    False
1474    False
1475    False
Length: 1476, dtype: bool

In [13]:
All_Teams.drop_duplicates(inplace = True)

In [14]:
All_Teams.head()

,team_api_id,team_long_name,team,buildUpPlaySpeed,buildUpPlaySpeedClass,defencePressure,defencePressureClass
0,9987,KRC Genk,Team1,45.0,Balanced,70.0,High
1,9987,KRC Genk,Team1,66.0,Balanced,48.0,Medium
2,9987,KRC Genk,Team1,53.0,Balanced,47.0,Medium
3,9987,KRC Genk,Team1,58.0,Balanced,47.0,Medium
5,9987,KRC Genk,Team1,58.0,Balanced,36.0,Medium

In [15]:
y=All_Teams['defencePressure'].mean()
All_Teams['defencePressure'].fillna(y,inplace=True)

In [16]:
All_Teams=All_Teams.dropna()
All_Teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1221 entries, 0 to 1475
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   team_api_id            1221 non-null   int64
 1   team_long_name         1221 non-null   object
 2   team                   1221 non-null   object
 3   buildUpPlaySpeed       1221 non-null   float64
 4   buildUpPlaySpeedClass  1221 non-null   object
 5   defencePressure        1221 non-null   float64
 6   defencePressureClass   1221 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 76.3+ KB

In [17]:
All_Teams['defencePressureClass'].unique()

array(['High', 'Medium', 'Deep', 'medium', 'high', 'deep'], dtype=object)

In [18]:
All_Teams['defencePressureClass']=All_Teams['defencePressureClass'].str.lower()
All_Teams['defencePressureClass'].unique()

array(['high', 'medium', 'deep'], dtype=object)

In [19]:
bin_edges = [10,30,50,60]
bin_names = ['deep', 'medium', 'high']
All_Teams['defencePressureClass']=pd.cut(All_Teams['defencePressure'], bin_edges, labels=bin_names)
All_Teams.head()

,team_api_id,team_long_name,team,buildUpPlaySpeed,buildUpPlaySpeedClass,defencePressure,defencePressureClass
0,9987,KRC Genk,Team1,45.0,Balanced,70.0,NaN
1,9987,KRC Genk,Team1,66.0,Balanced,48.0,medium
2,9987,KRC Genk,Team1,53.0,Balanced,47.0,medium
3,9987,KRC Genk,Team1,58.0,Balanced,47.0,medium
5,9987,KRC Genk,Team1,58.0,Balanced,36.0,medium

In [21]:
All_Teams['buildUpPlaySpeedClass'].unique()

array(['Balanced', 'Fast', 'Slow', 'BalanceD', 'fast', 'balanced', 'slow'],
      dtype=object)

In [22]:
All_Teams['buildUpPlaySpeedClass']=All_Teams['buildUpPlaySpeedClass'].str.lower()
All_Teams['buildUpPlaySpeedClass'].unique()

array(['balanced', 'fast', 'slow'], dtype=object)

### 4. Questions to be answered:
- what is the team with highest buildup speed?
- change the range of defence pressure and make it from 0 to 10 (if the highest values in this column is 70, change it to 10 and so on).
- what is the team with the longest name?
- **Bonus**:change the `buildUpSpeed` column by subtracting every values from the mean, and change std to be equal 1.

In [20]:
All_Teams.groupby('buildUpPlaySpeed').mean()
All_Teams.head()

,team_api_id,team_long_name,team,buildUpPlaySpeed,buildUpPlaySpeedClass,defencePressure,defencePressureClass
0,9987,KRC Genk,Team1,45.0,Balanced,70.0,NaN
1,9987,KRC Genk,Team1,66.0,Balanced,48.0,medium
2,9987,KRC Genk,Team1,53.0,Balanced,47.0,medium
3,9987,KRC Genk,Team1,58.0,Balanced,47.0,medium
5,9987,KRC Genk,Team1,58.0,Balanced,36.0,medium