# importing basic libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()
train= pd.read_csv(r"C:\Users\DELL\Documents\Ep session 5\train_v9rqX0R.csv")

In [2]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
train.drop(["Item_Identifier","Outlet_Identifier"],axis=1,inplace=True)

In [4]:
train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

# Model 1

- use two features 
- splitting into training and cv for cross validation
- train_test_split(X, y, train_size=(0.*),test_size=(0.*), random_state=() ), ranges from 0.1 to 1.0.

In [5]:
X = train.loc[:,['Outlet_Establishment_Year','Item_MRP']]
y=train.Item_Outlet_Sales
x_train ,  x_cv  ,  y_train  ,  y_cv = train_test_split(  X  , y ,random_state= 60)

In [6]:
# training the model
lreg.fit(x_train,y_train);

In [7]:
#predicting on cv
pred = lreg.predict( x_cv )

In [8]:
y_cv[:5]

2075     749.0250
4414    3435.5280
694     7488.9184
673     1471.4180
4185    1644.5260
Name: Item_Outlet_Sales, dtype: float64

In [9]:
lreg.predict( x_cv[:5] )

array([1257.36693877, 3548.43966419, 3188.55952113,  759.53727265,
       2516.44115478])

In [10]:
#calculating mse "mean square error"

mse = np.mean((pred - y_cv)**2)
mse

2001764.01202492

In [11]:
# calculating coefficients

coeff = pd.DataFrame(x_train.columns)

coeff['Coefficient Estimate'] = pd.Series(lreg.coef_)

coeff

                           0  Coefficient Estimate
0  Outlet_Establishment_Year             -9.280728
1                   Item_MRP             15.669719

**Evaluating Model by  R - square and adjusted R- square**
- The value of R-square is always between 0 and 1, where 0 means that the model does not explain any variability in the target variable (Y).

- 1 meaning it explains full variability in the target variable.

In [12]:
lreg.score(x_cv,y_cv)
# if you know year of establishment and the MRP, youâ€™ll have ()% information to make an accurate prediction about its sales.

0.3142221636352738

# Model 2
- with more variables

In [13]:
# split into training and cv .
X2 = train.loc[:,['Outlet_Establishment_Year','Item_MRP','Item_Weight']]
x_train, x_cv, y_train, y_cv = train_test_split(X2,train.Item_Outlet_Sales)

In [14]:
# training the model
lreg.fit(x_train,y_train);

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [15]:
train['Item_Weight'].fillna((train['Item_Weight'].mean()), inplace=True)

X2 = train.loc[:,['Outlet_Establishment_Year','Item_MRP','Item_Weight']]

In [16]:


## splitting into training and cv for cross validation

x_train, x_cv, y_train, y_cv = train_test_split(X2,train.Item_Outlet_Sales,random_state=50)

In [17]:
## training the model 
lreg.fit(x_train,y_train)

LinearRegression()

In [18]:
#predicting on cv
pred2 = lreg.predict(x_cv)

In [19]:
y_cv[:5]

3235     774.9912
6598    1338.2580
2633     690.4346
1562    3101.2964
6602    1491.3920
Name: Item_Outlet_Sales, dtype: float64

In [20]:
lreg.predict( x_cv[:5] )

array([ 855.02481542, 1416.42917653,  642.05869157, 2990.29264103,
       2253.6425577 ])

In [21]:
#calculating mse

mse2 = np.mean((pred2 - y_cv)**2)

mse2

1907031.236539898

In [22]:
## calculating coefficients

coeff2 = pd .DataFrame(x_train.columns)

coeff2['Coefficient Estimate'] = pd. Series(lreg.coef_)
coeff2

                           0  Coefficient Estimate
0  Outlet_Establishment_Year            -12.047773
1                   Item_MRP             15.523589
2                Item_Weight             -0.707504

In [23]:
#calculating r-square


lreg.score(x_cv,y_cv)

0.3322155373012926

# Model 3

* Using all the features for prediction

In [ ]:
### Data pre-processing steps for regression model ###
# imputing missing values

train['Item_Visibility'] = train['Item_Visibility'].replace(0,np.mean(train['Item_Visibility']))

train['Outlet_Establishment_Year'] = 2013 - train['Outlet_Establishment_Year']

train['Outlet_Size'].fillna('Small',inplace=True)

In [ ]:
# creating dummy variables to convert categorical into numeric values

mylist = list(train.select_dtypes(include=['object']).columns)

dummies = pd.get_dummies(train[mylist], prefix= mylist)

train.drop(mylist, axis=1, inplace = True)

X = pd.concat([train,dummies], axis =1 )

In [ ]:
X.head()

In [ ]:
X = X.drop('Item_Outlet_Sales',axis= 1)

x_train, x_cv, y_train, y_cv = train_test_split(X,train.Item_Outlet_Sales, test_size =0.3,random_state=44)

# training a linear regression model on train

lreg.fit(x_train,y_train)

# predicting on cv

pred_cv = lreg.predict(x_cv)

# calculating mse

mse = np.mean((pred_cv - y_cv)**2)

mse

In [ ]:
# evaluation using r-square

lreg.score(x_cv,y_cv)