# Practice
 you will practice using Pandas and how to manipulate data to turn it into useful information.
 - you can download needed data from here, [PracticeData](https://drive.google.com/file/d/1OHgvLPNZsjcyGZafx-U-fbtkLS8JiGkz/view?usp=sharing), [PracticeGrades](https://drive.google.com/file/d/1BycpsXykKRNWyKYubHkDapF2UNpz3Uun/view?usp=sharing)
 - you can download session notebooks from here , [Part1](https://drive.google.com/file/d/1HujHwkv0_qXrfyppEnD6XRYS8laYMPgI/view?usp=sharing) , [Part2](https://drive.google.com/file/d/10TZlMlfdjeDn0_ZS7dbOr4m38dnNTZYn/view?usp=sharing)

### 1. Import libraries and data frames
- here you need to import `pandas` and `numpy` libraries to use them.
- then, import needed datasets, `PracticeData` and `PracticeGrades`
and assign them with understandable names.

### 2. Concatenate teams into one DataFrame
- join `PracticeData` and `PracticeGrades` and clean dataframe.

### 3. Exploratory DataAnalysis & Define Problems ;)
- hint: start with `info()` and `isnull()` to find the problems need to be solved.
- you have problems in this data, you need to find them out and solve them to make a clean dataset.
- don't use `dropna()` to solve null values problems.

### 4. Task 
- required: ID of highest `writing score`
- required: ID of highest `reading score`
- required: ID of highest `math score`

### 5. **EXIT TICKET ;)** 
- Create `total` column (sum of scores)
- Create  `grade` column (F, D, C, B, A)