# Pandas Session 

<li>Abdelmoez Ashraf</li>

###Importing libraries and DataFrames

In [ ]:
import pandas as pd
import numpy as np

<li> .head()   ---> shows the first 5 rows </li>

In [ ]:
dfWhite = pd.read_csv("/content/winequality-white.csv", sep=';')
dfWhite.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [ ]:
dfRed = pd.read_csv("/content/winequality-red.csv", sep=";")
dfRed.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

####<li> Exploratory Analysis </li>

<li> .shape   ---> size of df </li>

In [ ]:
dfWhite.shape

(4898, 12)

In [ ]:
dfRed.shape

(1599, 12)

<li> .info() ---> shows information about rows and columns</li>

In [ ]:
dfWhite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         4898 non-null   float64
 1   volatile_acidity      4898 non-null   float64
 2   citric_acid           4898 non-null   float64
 3   residual_sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free_sulfur_dioxide   4898 non-null   float64
 6   total_sulfur_dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [ ]:
dfRed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1599 non-null   float64
 1   volatile_acidity      1599 non-null   float64
 2   citric_acid           1599 non-null   float64
 3   residual_sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free_sulfur_dioxide   1599 non-null   float64
 6   total_sulfur-dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

<li> .nunique() ---> shows the no. of unique data in each column </li>

In [ ]:
dfWhite.nunique()

fixed_acidity            68
volatile_acidity        125
citric_acid              87
residual_sugar          310
chlorides               160
free_sulfur_dioxide     132
total_sulfur_dioxide    251
density                 890
pH                      103
sulphates                79
alcohol                 103
quality                   7
dtype: int64

In [ ]:
dfRed.nunique()

fixed_acidity            96
volatile_acidity        143
citric_acid              80
residual_sugar           91
chlorides               153
free_sulfur_dioxide      60
total_sulfur-dioxide    144
density                 436
pH                       89
sulphates                96
alcohol                  65
quality                   6
dtype: int64

<li> .describe() ---> show statistics about columns </li>

In [ ]:
dfWhite.describe()

       fixed_acidity  volatile_acidity  ...      alcohol      quality
count    4898.000000       4898.000000  ...  4898.000000  4898.000000
mean        6.854788          0.278241  ...    10.514267     5.877909
std         0.843868          0.100795  ...     1.230621     0.885639
min         3.800000          0.080000  ...     8.000000     3.000000
25%         6.300000          0.210000  ...     9.500000     5.000000
50%         6.800000          0.260000  ...    10.400000     6.000000
75%         7.300000          0.320000  ...    11.400000     6.000000
max        14.200000          1.100000  ...    14.200000     9.000000

[8 rows x 12 columns]

In [ ]:
dfRed.describe()

       fixed_acidity  volatile_acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

<li> .isnull() ---> return null values as False (boolean = 0) </li>

In [ ]:
dfWhite.isnull()

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0             False             False        False  ...      False    False    False
1             False             False        False  ...      False    False    False
2             False             False        False  ...      False    False    False
3             False             False        False  ...      False    False    False
4             False             False        False  ...      False    False    False
...             ...               ...          ...  ...        ...      ...      ...
4893          False             False        False  ...      False    False    False
4894          False             False        False  ...      False    False    False
4895          False             False        False  ...      False    False    False
4896          False             False        False  ...      False    False    False
4897          False             False        False  ...      False    False    False

[4898 rows x 12 columns]

In [ ]:
dfWhite.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
dfRed.isnull().sum()

###Slicing

<li>Definite column </li>

In [ ]:
dfWhite['quality'].std()

0.8856385749678454

In [ ]:
dfWhite['quality'].value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

<li>Arithmetic Condition</li>

In [ ]:
dfWhite[dfWhite['quality']>8]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
774             9.1              0.27         0.45  ...       0.46     10.4        9
820             6.6              0.36         0.29  ...       0.61     12.4        9
827             7.4              0.24         0.36  ...       0.48     12.5        9
876             6.9              0.36         0.34  ...       0.36     12.7        9
1605            7.1              0.26         0.49  ...       0.42     12.9        9

[5 rows x 12 columns]

In [ ]:
dfWhite['quality'].mean()

5.87790935075541

In [ ]:
dfWhite[dfWhite['quality']>dfWhite['quality'].mean()]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0               7.0              0.27         0.36  ...       0.45      8.8        6
1               6.3              0.30         0.34  ...       0.49      9.5        6
2               8.1              0.28         0.40  ...       0.44     10.1        6
3               7.2              0.23         0.32  ...       0.40      9.9        6
4               7.2              0.23         0.32  ...       0.40      9.9        6
...             ...               ...          ...  ...        ...      ...      ...
4891            5.7              0.21         0.32  ...       0.46     10.6        6
4893            6.2              0.21         0.29  ...       0.50     11.2        6
4895            6.5              0.24         0.19  ...       0.46      9.4        6
4896            5.5              0.29         0.30  ...       0.38     12.8        7
4897            6.0              0.21         0.38  ...       0.32     11.8        6

[3258 rows x 12 columns]

<li>Definite values </li>

In [ ]:
dfWhite[dfWhite['quality'].isin([6,7,8,9])]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0               7.0              0.27         0.36  ...       0.45      8.8        6
1               6.3              0.30         0.34  ...       0.49      9.5        6
2               8.1              0.28         0.40  ...       0.44     10.1        6
3               7.2              0.23         0.32  ...       0.40      9.9        6
4               7.2              0.23         0.32  ...       0.40      9.9        6
...             ...               ...          ...  ...        ...      ...      ...
4891            5.7              0.21         0.32  ...       0.46     10.6        6
4893            6.2              0.21         0.29  ...       0.50     11.2        6
4895            6.5              0.24         0.19  ...       0.46      9.4        6
4896            5.5              0.29         0.30  ...       0.38     12.8        7
4897            6.0              0.21         0.38  ...       0.32     11.8        6

[3258 rows x 12 columns]

In [ ]:
dfWhite['alcohol']

0        8.8
1        9.5
2       10.1
3        9.9
4        9.9
        ...
4893    11.2
4894     9.6
4895     9.4
4896    12.8
4897    11.8
Name: alcohol, Length: 4898, dtype: float64

In [ ]:
dfWhite['alcohol'].unique()

array([ 8.8       ,  9.5       , 10.1       ,  9.9       ,  9.6       ,
       11.        , 12.        ,  9.7       , 10.8       , 12.4       ,
       11.4       , 12.8       , 11.3       , 10.5       ,  9.3       ,
       10.        , 10.4       , 11.6       , 12.3       , 10.2       ,
        9.        , 11.2       ,  8.6       ,  9.4       ,  9.8       ,
       11.7       , 10.9       ,  9.1       ,  8.9       , 10.3       ,
       12.6       , 10.7       , 12.7       , 10.6       ,  9.2       ,
        8.7       , 11.5       , 11.8       , 12.1       , 11.1       ,
        8.5       , 12.5       , 11.9       , 12.2       , 12.9       ,
       13.9       , 14.        , 13.5       , 13.3       , 13.2       ,
       13.7       , 13.4       , 13.        ,  8.        , 13.1       ,
       13.6       ,  8.4       , 14.2       , 11.94      , 12.89333333,
       11.46666667, 10.98      , 10.03333333, 11.43333333, 10.53333333,
        9.53333333, 10.93333333, 11.36666667, 11.33333333, 11.06666667,
        9.73333333, 11.05      ,  9.75      , 11.35      ,  9.55      ,
       10.55      , 11.45      , 14.05      , 12.33333333, 12.75      ,
       13.8       , 12.15      , 13.05      , 11.26666667, 10.56666667,
       11.73333333, 11.75      , 10.65      , 10.96666667, 10.13333333,
       10.15      , 10.46666667, 11.63333333, 12.25      , 11.85      ,
       11.65      , 13.55      , 13.13333333, 11.95      , 12.06666667,
       11.55      ,  9.63333333, 12.05      ])

In [ ]:
dfWhite['alcohol'].unique().size

103

In [ ]:
dfWhite[dfWhite['alcohol']>14]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
3918            6.4              0.35         0.28  ...       0.40    14.20        7
4503            5.8              0.61         0.01  ...       0.72    14.05        7

[2 rows x 12 columns]

In [ ]:
dfWhite[dfWhite['alcohol']>dfWhite['alcohol'].mean()]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
9               8.1              0.22         0.43  ...       0.45     11.0        6
10              8.1              0.27         0.41  ...       0.56     12.0        5
12              7.9              0.18         0.37  ...       0.63     10.8        5
13              6.6              0.16         0.40  ...       0.52     12.4        7
15              6.6              0.17         0.38  ...       0.55     11.4        7
...             ...               ...          ...  ...        ...      ...      ...
4890            6.1              0.34         0.29  ...       0.44     11.8        6
4891            5.7              0.21         0.32  ...       0.46     10.6        6
4893            6.2              0.21         0.29  ...       0.50     11.2        6
4896            5.5              0.29         0.30  ...       0.38     12.8        7
4897            6.0              0.21         0.38  ...       0.32     11.8        6

[2163 rows x 12 columns]

### Joining 
pd.merge() and pd.concat()

In [ ]:
dfWhite['color']='white'
dfRed['color']='red'
dfWhite.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  color
0            7.0              0.27         0.36  ...      8.8        6  white
1            6.3              0.30         0.34  ...      9.5        6  white
2            8.1              0.28         0.40  ...     10.1        6  white
3            7.2              0.23         0.32  ...      9.9        6  white
4            7.2              0.23         0.32  ...      9.9        6  white

[5 rows x 13 columns]

In [ ]:
dfAll= pd.concat([dfWhite, dfRed], axis=0)
dfAll

      fixed_acidity  volatile_acidity  ...  color  total_sulfur-dioxide
0               7.0             0.270  ...  white                   NaN
1               6.3             0.300  ...  white                   NaN
2               8.1             0.280  ...  white                   NaN
3               7.2             0.230  ...  white                   NaN
4               7.2             0.230  ...  white                   NaN
...             ...               ...  ...    ...                   ...
1594            6.2             0.600  ...    red                  44.0
1595            5.9             0.550  ...    red                  51.0
1596            6.3             0.510  ...    red                  40.0
1597            5.9             0.645  ...    red                  44.0
1598            6.0             0.310  ...    red                  42.0

[6497 rows x 14 columns]

<li>First things first, check that both columns' names are identical </li>

In [ ]:
dfRed.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur-dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'color'],
      dtype='object')

<li>.rename(columns={ old_name : new_name })

In [ ]:
dfRed=dfRed.rename(columns={'total_sulfur-dioxide' : 'total_sulfur_dioxide'})

In [ ]:
dfRed.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'color'],
      dtype='object')

In [ ]:
dfAll= pd.concat([dfWhite, dfRed], axis=0)
dfAll

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  color
0               7.0             0.270         0.36  ...      8.8        6  white
1               6.3             0.300         0.34  ...      9.5        6  white
2               8.1             0.280         0.40  ...     10.1        6  white
3               7.2             0.230         0.32  ...      9.9        6  white
4               7.2             0.230         0.32  ...      9.9        6  white
...             ...               ...          ...  ...      ...      ...    ...
1594            6.2             0.600         0.08  ...     10.5        5    red
1595            5.9             0.550         0.10  ...     11.2        6    red
1596            6.3             0.510         0.13  ...     11.0        6    red
1597            5.9             0.645         0.12  ...     10.2        5    red
1598            6.0             0.310         0.47  ...     11.0        6    red

[6497 rows x 13 columns]

In [ ]:
dfAll.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
color                   0
dtype: int64

In [3]:
country=pd.read_csv("/content/Country.csv")
league=pd.read_csv("/content/League.csv")
display(country, league)

NameError: name 'pd' is not defined

<li> .merge() left_on, right_on, suffixes </li>

In [1]:
leagueCountry = pd.merge(league, country, left_on='league_id', right_on='country_id' )
leagueCountry-*

NameError: name 'pd' is not defined

In [ ]:
leagueCountry = pd.merge(league, country, left_on='league_id', right_on='country_id' , suffixes=["_league", "_country"])
leagueCountry

    league_id               name_league  country_id name_country
0           1    Belgium Jupiler League           1      Belgium
1        1729    England Premier League        1729      England
2        4769            France Ligue 1        4769       France
3        7809     Germany 1. Bundesliga        7809      Germany
4       10257             Italy Serie A       10257        Italy
5       13274    Netherlands Eredivisie       13274  Netherlands
6       15722        Poland Ekstraklasa       15722       Poland
7       17642  Portugal Liga ZON Sagres       17642     Portugal
8       19694   Scotland Premier League       19694     Scotland
9       21518           Spain LIGA BBVA       21518        Spain
10      24558  Switzerland Super League       24558  Switzerland

<li>Drop duplicated columns, don't forget setting inplace to True</li>

In [ ]:
leagueCountry.drop('country_id', axis=1, inplace=True)

KeyError: ignored

In [ ]:
leagueCountry = leagueCountry.rename(columns={'league_id':'id'})
leagueCountry

       id               name_league name_country
0       1    Belgium Jupiler League      Belgium
1    1729    England Premier League      England
2    4769            France Ligue 1       France
3    7809     Germany 1. Bundesliga      Germany
4   10257             Italy Serie A        Italy
5   13274    Netherlands Eredivisie  Netherlands
6   15722        Poland Ekstraklasa       Poland
7   17642  Portugal Liga ZON Sagres     Portugal
8   19694   Scotland Premier League     Scotland
9   21518           Spain LIGA BBVA        Spain
10  24558  Switzerland Super League  Switzerland

In [ ]:
dfAll.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  color
0            7.0              0.27         0.36  ...      8.8        6  white
1            6.3              0.30         0.34  ...      9.5        6  white
2            8.1              0.28         0.40  ...     10.1        6  white
3            7.2              0.23         0.32  ...      9.9        6  white
4            7.2              0.23         0.32  ...      9.9        6  white

[5 rows x 13 columns]

In [ ]:
dfAll

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  color
0               7.0             0.270         0.36  ...      8.8        6  white
1               6.3             0.300         0.34  ...      9.5        6  white
2               8.1             0.280         0.40  ...     10.1        6  white
3               7.2             0.230         0.32  ...      9.9        6  white
4               7.2             0.230         0.32  ...      9.9        6  white
...             ...               ...          ...  ...      ...      ...    ...
1594            6.2             0.600         0.08  ...     10.5        5    red
1595            5.9             0.550         0.10  ...     11.2        6    red
1596            6.3             0.510         0.13  ...     11.0        6    red
1597            5.9             0.645         0.12  ...     10.2        5    red
1598            6.0             0.310         0.47  ...     11.0        6    red

[6497 rows x 13 columns]

### .loc[] & .iloc[ : , : ]

In [ ]:
dfAll.loc[2]

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  color
2            8.1              0.28         0.40  ...     10.1        6  white
2            7.8              0.76         0.04  ...      9.8        5    red

[2 rows x 13 columns]

In [ ]:
dfAll.loc[150]

     fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  color
150            7.9              0.22         0.38  ...     11.5        7  white
150            7.3              0.33         0.47  ...     10.3        6    red

[2 rows x 13 columns]

In [ ]:
dfAll.iloc[100:200,5:9]

     free_sulfur_dioxide  total_sulfur_dioxide  density    pH
100                 52.0                 192.0   0.9975  3.00
101                 64.0                 162.0   0.9962  3.40
102                 55.0                 164.0   0.9970  3.34
103                 44.0                 170.0   1.0000  2.99
104                 52.0                 192.0   0.9975  3.00
..                   ...                   ...      ...   ...
195                 76.0                 180.0   0.9942  3.02
196                 75.0                 183.0   0.9942  3.01
197                 54.0                 214.0   0.9961  3.13
198                 52.0                 204.0   0.9980  3.10
199                 54.0                 214.0   0.9961  3.13

[100 rows x 4 columns]

In [ ]:
dfAll.iloc[100:200,:]

     fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  color
100            7.4             0.250         0.37  ...      9.1        5  white
101            7.1             0.120         0.32  ...      9.4        5  white
102            6.0             0.210         0.24  ...      9.4        5  white
103            7.5             0.305         0.40  ...      9.0        5  white
104            7.4             0.250         0.37  ...      9.1        5  white
..             ...               ...          ...  ...      ...      ...    ...
195            6.4             0.300         0.45  ...      9.1        6  white
196            6.4             0.290         0.44  ...      9.1        5  white
197            6.8             0.260         0.24  ...      8.9        5  white
198            7.1             0.320         0.24  ...      8.8        5  white
199            6.8             0.260         0.24  ...      8.9        5  white

[100 rows x 13 columns]

In [ ]:
dfAll.iloc[:, 4:]

      chlorides  free_sulfur_dioxide  ...  quality  color
0         0.045                 45.0  ...        6  white
1         0.049                 14.0  ...        6  white
2         0.050                 30.0  ...        6  white
3         0.058                 47.0  ...        6  white
4         0.058                 47.0  ...        6  white
...         ...                  ...  ...      ...    ...
1594      0.090                 32.0  ...        5    red
1595      0.062                 39.0  ...        6    red
1596      0.076                 29.0  ...        6    red
1597      0.075                 32.0  ...        5    red
1598      0.067                 18.0  ...        6    red

[6497 rows x 9 columns]

<li>Advanced .iloc[] by selecting ranges </li>
hint: use enumerate()

In [ ]:
for i, v in enumerate(dfAll.columns):
  print(i,v)

0 fixed_acidity
1 volatile_acidity
2 citric_acid
3 residual_sugar
4 chlorides
5 free_sulfur_dioxide
6 total_sulfur_dioxide
7 density
8 pH
9 sulphates
10 alcohol
11 quality
12 color

In [ ]:
dfAll.iloc[:, np.r_[1:5, 8, 11:13]]

      volatile_acidity  citric_acid  residual_sugar  ...    pH  quality  color
0                0.270         0.36            20.7  ...  3.00        6  white
1                0.300         0.34             1.6  ...  3.30        6  white
2                0.280         0.40             6.9  ...  3.26        6  white
3                0.230         0.32             8.5  ...  3.19        6  white
4                0.230         0.32             8.5  ...  3.19        6  white
...                ...          ...             ...  ...   ...      ...    ...
1594             0.600         0.08             2.0  ...  3.45        5    red
1595             0.550         0.10             2.2  ...  3.52        6    red
1596             0.510         0.13             2.3  ...  3.42        6    red
1597             0.645         0.12             2.0  ...  3.57        5    red
1598             0.310         0.47             3.6  ...  3.39        6    red

[6497 rows x 7 columns]

### groupby()

In [ ]:
dfAll.groupby('color').mean()

       fixed_acidity  volatile_acidity  ...    alcohol   quality
color                                   ...
red         8.319637          0.527821  ...  10.422983  5.636023
white       6.854788          0.278241  ...  10.514267  5.877909

[2 rows x 12 columns]

In [ ]:
dfAll.groupby('pH').mean()

      fixed_acidity  volatile_acidity  ...    alcohol   quality
pH                                     ...
2.72      10.000000          0.230000  ...   9.700000  6.000000
2.74       9.450000          0.380000  ...  10.100000  5.000000
2.77       9.900000          0.490000  ...   9.400000  6.000000
2.79       8.133333          0.180000  ...  10.366667  5.000000
2.80       8.200000          0.186667  ...  11.200000  5.666667
...             ...               ...  ...        ...       ...
3.81       6.400000          0.220000  ...  10.300000  6.000000
3.82       5.300000          0.260000  ...  10.500000  7.000000
3.85       4.700000          0.600000  ...  12.900000  6.000000
3.90       4.850000          0.495000  ...  12.950000  5.000000
4.01       5.200000          0.740000  ...  12.500000  6.000000

[108 rows x 11 columns]

### Converting numeric data to levels, but why?

In [ ]:
dfAll['pH'].describe()

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [ ]:
# Bin edges that will be used to "cut" the data into groups
bin_edges = [2.72, 3.11, 3.21, 3.32, 4.01 ]

In [ ]:
# Labels for the four acidity level groups
bin_names = ['high' , 'moderately high' ,'medium' ,'low' ]

In [ ]:
dfAll['acidity_levels'] = pd.cut(dfAll['pH'], bin_edges, labels=bin_names)

dfAll.head()

   fixed_acidity  volatile_acidity  ...  color   acidity_levels
0            7.0              0.27  ...  white             high
1            6.3              0.30  ...  white           medium
2            8.1              0.28  ...  white           medium
3            7.2              0.23  ...  white  moderately high
4            7.2              0.23  ...  white  moderately high

[5 rows x 14 columns]

In [ ]:
dfAll.groupby('acidity_levels').mean()

                 fixed_acidity  volatile_acidity  ...    alcohol   quality
acidity_levels                                    ...
high                  7.543914          0.294683  ...  10.330208  5.783343
moderately high       7.365064          0.318551  ...  10.391073  5.784540
medium                7.143566          0.346751  ...  10.610369  5.850832
low                   6.769949          0.403815  ...  10.656057  5.859593

[4 rows x 12 columns]

In [ ]:
# Abdelmoez Ashraf - Energia Powered 22''
# GG EZ